.grid {
    width: 400px;
    height: 600px;
    background-image: linear-gradient(rgba(155, 155, 37, 0.411), yellow);
    position: relative;
    font-size: 200px;
    text-align: center;
}

.doodler {
    width: 60px;
    height: 60px;
    background: transparent;
    position: absolute;
}

.platform {
    border-radius: 5px;
    width: 85px;
    height: 15px;
    background-image: linear-gradient(rgb(128, 207, 128), green);
    position: absolute;
}